---
layout: default
title: Projects
---
<section class="projectors">
  <h2 class="section">Projects</h2>
{% assign sorted = site.tags.project | sort: 'title' %}
  <div class="entries">
{% for project in sorted %}
    <a class="entry" href="{{ project.url }}">
  {% if project.thumb %}
      <img src="{{ project.thumb }}" alt="{{ project.graphicalt }}">
  {% elsif project.graphic %}
      <img src="{{ project.graphic }}" alt="{{ project.graphicalt }}">
  {% else %}
      <img src="/images/thumb-face.png" alt="Potato Face - Non-project Image">
  {% endif %}
      <div class="entry-proper">
  {% if project.short_title %}
        <h3>{{ project.short_title }}</h3>
  {% else %}
        <h3>{{ project.title }}</h3>
  {% endif %}
  {% if project.description %}
        <p>{{ project.description }}</p>
  {% endif %}
      </div>
    </a>
{% endfor %}
  </div>
</section>
