---
layout: default
title: Projects
---
<div class="projectors">
{% assign sorted = site.tags.project | sort: 'title' %}
    <ul>
{% for project in sorted %}
        <li class="{% cycle 'odd', 'even' %}"><h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
            <table class="minimeta">
            <tr>
            <td>REVISION</td>
            {% if project.download %}
            <td class="PL30"><a href="{{ project.download }}">DOWNLOAD&gt; {{ project.filetype | upcase }}</a></td>
            {% else %}
            <td class="PL30">NO DOWNLOAD</td>
            {% endif %}
            </tr>
            <tr>
            <td>{{ project.updated | date: "%Y-%m-%d" }}</td>
            </tr>
            </table>
        </li>
{% endfor %}
    </ul>
</div>
