---
layout: default
title: Patater
description: Patater is my outlet for my free and open works.
---
{% assign stuff = "" | split: "" %}
{% for project in site.tags.project %}
{% assign stuff = stuff | push: project %}
{% endfor %}
{% for post in site.tags.blarg %}
{% assign stuff = stuff | push: post %}
{% endfor %}

{% assign projects_by_prio = site.tags.project | sort: 'date' | reverse | sort: 'sitemappriority' | reverse %}
{% if projects_by_prio %}
    <section>
    <h3 class="section">Popular Projects</h3>
    <div class="popular-projects">
{% for project in projects_by_prio limit: 4 %}
    <a href="{{ project.url }}">
      <div class="popular-slot">
        <div class="title-slot">
  {% if project.short_title %}
        <h5 class="title-text">{{ project.short_title }}</h5>
  {% else %}
        <h5 class="title-text">{{ project.title }}</h5>
  {% endif %}
        </div>
  {% if project.thumb %}
        <img src="{{ project.thumb }}" width="180" height="100" alt="{{ project.graphicalt }}">
  {% elsif project.graphic %}
        <img src="{{ project.graphic }}" width="180" height="100" alt="{{ project.graphicalt }}">
  {% else %}
        <img src="/images/thumb-face.png" width="180" height="100" alt="Potato Face - Non-project Image">
  {% endif %}
      </div>
    </a>
{% endfor %}
    </div>
    </section>
{% endif %}

{% assign stuff = stuff | uniq | sort: 'date' | reverse %}
  <section>
  <h3 class="section">Recent</h3>
  <div class="entries">
{% for post in stuff limit: 4 %}
{% if forloop.first %}
    <div class="entry">
        <h3 class="entry-proper"><a href={{ post.url }}>{{ post.title }}</a></h1>
        <h4 class="section date">{{ post.date | date:"%Y-%m-%d" }}</h2>
        <div>
        {% if post.description %}<p>{{ post.description }}</p>{% endif %}
        </div>
    </div>
{% else %}
    <div class="entry">
        <div class="entry-proper FL entrysub-title"><a href={{ post.url }}>{{ post.title }}</a></div>
        <div>{{ post.date | date:"%Y-%m-%d" }}</div>
    </div>
{% endif %}
{% endfor %}
  </div>
  </section>
