---
layout: default
title: Patater
description: Patater is my outlet for my free and open works.
---
{% assign stuff = "" | split: "" %}
{% for project in site.tags.project %}
{% assign stuff = stuff | push: project %}
{% endfor %}
{% for post in site.tags.blarg %}
{% assign stuff = stuff | push: post %}
{% endfor %}

{% assign projects_by_prio = site.tags.project | sort: 'date' | reverse | sort: 'sitemappriority' | reverse %}
{% if projects_by_prio %}
  <section>
  <h2 class="section">Popular Projects</h2>
  <div class="entries">
{% for project in projects_by_prio limit: 4 %}
    <a class="entry" href="{{ project.url }}">
  {% if project.thumb %}
      <img src="{{ project.thumb }}" alt="{{ project.graphicalt }}">
  {% elsif project.graphic %}
      <img src="{{ project.graphic }}" alt="{{ project.graphicalt }}">
  {% else %}
      <img src="/images/thumb-face.png" alt="Potato Face - Non-project Image">
  {% endif %}
      <div class="entry-proper">
  {% if project.short_title %}
        <h3>{{ project.short_title }}</h3>
  {% else %}
        <h3>{{ project.title }}</h3>
  {% endif %}
      </div>
    </a>
{% endfor %}
  </div>
  </section>
{% endif %}

{% assign stuff = stuff | uniq | sort: 'date' | reverse %}
  <section>
  <h2 class="section">Latest Blargs</h2>
  <div class="entries">
{% for post in stuff limit: 4 %}
    <a class="entry" href="{{ post.url }}">
  {% if post.thumb %}
      <img src="{{ post.thumb }}" alt="{{ post.graphicalt }}">
  {% elsif post.graphic %}
      <img src="{{ post.graphic }}" alt="{{ post.graphicalt }}">
  {% else %}
      <img src="/images/thumb-face.png" alt="Potato Face - Non-project Image">
  {% endif %}
      <div class="entry-proper">
  {% if post.short_title %}
        <h3>{{ post.short_title }}</h3>
  {% else %}
        <h3>{{ post.title }}</h3>
  {% endif %}
        <h4 class="date">{{ post.date | date:"%Y-%m-%d" }}</h4>
  {% if post.description %}
        <p>{{ post.description }}</p>
  {% endif %}
      </div>
    </a>
{% endfor %}
  <a class="entry" href="/blarg/#5">
      <div class="entry-proper">
      <h3>Older Blargs</h3>
      </div>
  </a>
  </div>
  </section>
