---
layout: default
title: Books
description: Patater's Awesome Book Collection
---

<div>
<h1>Patater's Awesome Book Collection</h1>
<p>Every book here is or was on my real physical bookshelf. I've collected them
over my entire life. Clicking on a title will provide information on why I have
or like a particular book.</p>
</div>

<section class="books">
  <h2 class="section">The Books</h2>
  <div class="entries">
{% assign sorted = site.tags.book | sort: 'title' %}
{% for book in sorted %}
{% assign image_found = false %}
    <a class="entry" href="{{ book.url }}">
{% if book.isbn %}
{% for file in site.static_files %}{% if file.name contains book.isbn and file.name contains '-M' %}{% assign image_found = true %}
        <img src="{{ file.path }}" alt="Book Cover - {{ book.title }}" />
{% endif %}{% endfor %}
{% elsif book.iid and image_found == false %}
{% for file in site.static_files %}{% if file.name contains book.iid and file.name contains '-M' %}{% assign image_found = true %}
        <img src="{{ file.path }}" alt="Book Cover - {{ book.title }}"/>
{% endif %}{% endfor %}
{% elsif book.olid and image_found == false %}
{% for file in site.static_files %}{% if file.name contains book.olid and file.name contains '-M' %}{% assign image_found = true %}
        <img src="{{ file.path }}" alt="Book Cover - {{ book.title }}"/>
{% endif %}{% endfor %}
{% else %}
{% assign image_found = false %}
{% endif %}
{% if image_found == false %}
        <img src="/images/cover-na.png" alt="Book Cover - {{ book.title }}" />
{% endif %}
      <div class="entry-proper">
        <h3>{{ book.title }}</h3>
      </div>
    </a>
{% endfor %}
  </div>
</section>
