</div>

<div class="adsense-right">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-3395081372274706";
/* Wide Gray Skyscraper */
google_ad_slot = "4316286424";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

</div>

<div class="mash-footer">
    <ul class="mash-text minimeta">
        <li><a href="mailto:webmaster@patater.com">Email</a></li>
        <li><a href="#suicide-is-painless">Mash</a></li>
        <li><a href="/irc">Chat</a></li>
    </ul>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-482687-2");
pageTracker._trackPageview();
} catch(err) {}
</script>
