---
layout: default
title: Links
description: World's Best Nintendo DS Links
possibletags:
  - tag: ds-news-sites
    name: DS News Sites
  - tag: ds-wifi
    name: DS WiFi
  - tag: dslinux
    name: DSLinux
  - tag: development-essentials
    name: Development Essentials (More or Less)
  - tag: development-on-macintosh
    name: Development on the Macintosh
  - tag: emulation
    name: Emulation
  - tag: flash-carts
    name: Flash Carts, etc.
  - tag: forums
    name: Forums
  - tag: fun-with-ds
    name: Fun with the Nintendo DS
  - tag: gba-tutorials
    name: GBA Tutorials (still very applicable to Nintendo DS programming)
  - tag: general-programming
    name: General Programming
  - tag: hacking
    name: Hacking
  - tag: homebrew
    name: Homebrew
  - tag: interesting
    name: Interesting Topics
  - tag: miscellaneous
    name: Miscellaneous
  - tag: neoflash
    name: NeoFlash
  - tag: nds-tutorials
    name: Nintendo DS Tutorials
  - tag: patater
    name: Patater
  - tag: people-pages
    name: People Pages
  - tag: projects
    name: Projects
  - tag: retailers
    name: Retailers
  - tag: running-programs
    name: Running Programs
  - tag: software-tools
    name: Software Tools
  - tag: technical-reference
    name: Technical References
---
<div>
<h1>World's Best Nintendo DS Links</h1>
<p>These used to be the best links relating to Nintendo DS development. If you
have any suggestions, dead links to report, additions or whatnot, feel free to
<a href="/contact">contact me</a>.</p>
</div>

{% assign sorted = site.tags.link | sort: 'title' %}

<div>
<ul class="link-categories">
{% for tag in page.possibletags %}
<li><a href="#{{ tag.tag }}">{{ tag.name }}</a></li>
{% endfor %}
</ul>
</div>

<div>
{% for tag in page.possibletags %}
<a name="{{ tag.tag }}"></a>
<h3>{{ tag.name }}</h3>
<div class="linkzors">
{% for link in sorted %}{% if link.tags contains tag.tag %}
<div class="{% cycle 'odd', 'even' %}">
<h1 class="entry-proper"><a href="{{ link.uri }}">{{ link.title }}</a></h1>
{{ link.content }}
</div>
{% endif %}{% endfor %}
</div>
{% endfor %}
</div>
