---
layout: default
---
<div>
<h1>{{ page.title}}</h1>
<p>{{ content }}</p>
</div>

<div class="book">
<a href="http://openlibrary.org/isbn/{{ page.isbn }}">
{% assign image_found = false %}
{% if page.isbn %}{% for file in site.static_files %}{% if file.name contains page.isbn and file.name contains '-L' %}{% assign image_found = true %}
  <img src="{{ file.path }}" alt="Book Cover - {{ page.title }}"/>
{% endif %}{% endfor %}{% else %}{% assign image_found = false %}{% endif %}
{% if image_found == false %}
  <img src="/images/cover-na.png" alt="Book Cover - {{ page.title }}">
{% endif %}
  <br/>
  Browse on OpenLibrary
</a>
<br/>
{% if page.isbn %}
<h3>ISBN: {{ page.isbn }}</h3>
{% elsif page.asin %}
<h3>ASIN: {{ page.asin }}</h3>
{% endif %}
</div>
