/* This is the overworld theme to Patater dot com */

.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 ratio */
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.qr-code .black {
  border-top-color: #000;
  background: #000 none repeat scroll 0% 0%;
}

.qr-code {
  border-collapse: collapse;
  margin: 0 auto;
}

.qr-code td {
  border-width: 0px;
  border-style: solid;
  border-color: #00F;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
}

.qr-code-wrapper {
  text-align: center;
}

.qr-code tr {
  height: 5px;
}

.qr-code td {
  border-top-width: 0;
  width: 5px;
  height: 5px;
}
